<div class="countdown">

<div class="d-flex">
  <div class="countdown-timer--offer p-1 mx-1">
    <p class="text-light countdown-timer-offer--timer">{{ timeLeft.days }} </p>
    <p class="text-light countdown-timer-offer--text">روز</p>
  </div>

  <div class="countdown-timer--offer p-1 mx-1">
    <p class="text-light countdown-timer-offer--timer">{{ timeLeft.hours }} </p>
    <p class="text-light countdown-timer-offer--text">ساعت</p>
  </div>

  <div class="countdown-timer--offer p-1 mx-1">
    <p class="text-light countdown-timer-offer--timer">{{ timeLeft.minutes }} </p>
    <p class="text-light countdown-timer-offer--text">دقیقه</p>
  </div>

  <div class="countdown-timer--offer p-1 mx-1">
    <p class="text-light countdown-timer-offer--timer">{{ timeLeft.seconds }} </p>
    <p class="text-light countdown-timer-offer--text">ثانیه</p>
  </div>

</div>

</div>
