.countdown {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.countdown p {
  margin: 0;
}




.countdown-timer--offer{
    background-color: #3d4451;
  border-radius: 30%;
  width: 60px;
  height: 60px;
}

.countdown-timer-offer--text{
  font-size: 13px;
  margin-top: -8px !important;
}


.countdown-timer-offer--timer{
font-size: 1.5rem;
}
