<div class="container">
  <section class="py-5">
    <h4 class="fw-bold fs-22 text-center pb-3" >محصولات ({{products.length}}) </h4>
    <div class="row row-cols-2 row-cols-md-4 g-4 ">
      @for (prod of products; track prod; let i = $index) {
        <div class="col rounded-3  card-product">
          <div class="card h-100 ">
            <img [src]="prod.imageURL" [ngClass]="{'out-of-discount' : !prod.is_in_inventory}"
              class="card-img-top rounded-3" alt="Skyscrapers"/>
            <div class="card-body py-0">
              <h3 class="card-title text-center fw-bold" lang="en_US">{{prod.name}}</h3>
              <div class="pt-2">
                <p class="text-center">رنگ: {{prod.color}}</p>
              <p class="text-center" [ngStyle]="{
              fontWeight:'bold',
              color: prod.is_in_inventory ? 'green' : '#EE1F1F'
              }" > {{prod.is_in_inventory
                  ?  ""
                  : "کالا موجود نمی باشد"
                  }}
                </p>
              </div>
            </div>
            <div class="card-footer text-center">

              @if (prod.is_in_inventory) {
                <p >موجود در انبار: {{prod.items_left}}  </p>
                <del class="text-danger"> {{"قیمت "+ prod.price + " تومن "}}</del>
                <span class="text-success px-2">تخفیف: %  {{prod.discountPrice }}  </span>

                <span class="fw-bold price-with-discount--text"> قیمت با تخفیف: <span class="fw-bold price-with-discount--digit">{{(this.prod.price - (this.prod.price * this.prod.discountPrice) / 100).toFixed()}}</span>   تومن     </span>

<!--                          <input (input)="onNameChange($event)">-->

              <div class="f-flex fa-align-center mt-2">

                <button class="btn rounded-3 " (click)="increaseCardValue(i)">-</button>
                <span class="px-2"> {{ addToCart[i]  }} </span>
                <button class="btn rounded-3" (click)="addCardValue(i)" [disabled]="products[i].items_left <= 0">+</button>
                <span class="ps-2">:تعداد</span> </div>
              }


            </div>
            <button *ngIf="prod.is_in_inventory" class="btn btn-outline-danger add-to-card-btn fw-bold" [disabled]="!(products[i].items_left  > 0)" >خرید
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                <path d="M17 17h-11v-14h-2"/>
                <path d="M6 5l14 1l-1 7h-13"/>
              </svg>
            </button>
          </div>
        </div>
      }
    </div>
  </section>


</div>
