.card-product{
  transition: 0.4s all;
}

.card-product:hover{
  transition: 0.4s all;
  transform: scale(1.05);
  cursor: pointer;
}


.add-to-card-btn{
border-radius: 0 0 8px 8px;
}

.add-to-card-btn:hover{
  background: #DC4C64;
  color: #fff;
}
