<div class="row py-5 rounded-6 section-category--brands">
  <a routerLink="/category/apple" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/giftcards.webp" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold   homepage-category--title text-center  pt-3">اپل آی دی</h3>
  </a>

  <a routerLink="/category/acer" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/height=110,width=170 (4).avif" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold   homepage-category--title text-center  pt-3">ایرپاد</h3>

  </a>

  <a routerLink="/category/asus" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/height=110,width=170 (3).avif" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold   homepage-category--title text-center  pt-3">اپل واچ</h3>

  </a>

  <a routerLink="/category/hp" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/height=110,width=170 (2).avif" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold homepage-category--title text-center  pt-3">آی پد</h3>

  </a>

  <a routerLink="/category/lenovo" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/height=110,width=170 (1).avif" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold   homepage-category--title text-center  pt-3">آیفون</h3>

  </a>

  <a routerLink="/category/msi" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/height=110,width=170.avif" alt="logo"
         class="w-75  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold   homepage-category--title text-center  pt-3">مک</h3>

  </a>
</div>
