<div class="sign-in--container  py-5">
  <div class="d-flex">
  <img src="./assets/images/newlogoweb-2.png" alt="logo" class="pb-3 signin-logo--image">
  </div>
  <div class="row signin-section rounded-6 ">
    <div class="col-12 p-5">
      <div class="d-flex align-items-center" (click)="getBack()">
        <span class="text-muted sign-in-get--back fs-14">
          بازگشت
        <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path  d="M15 6l-6 6l6 6"></path></svg>
        </span>
      </div>

      <h1 class="fw-bold fs-18">ورود | ثبت نام</h1>
      <h6 class="sign-in-title fs-14 pb-3">شماره موبایل خود را وارد کنید
      </h6>
      <div class="pt-2">
        <label class="sign-in-label pb-2 fs-14">موبایل:</label>
        <input class="sign-in-input rounded-3 w-100 px-3 py-3" name="phoneNumber" type="text" inputmode="numeric" minlength="11" maxlength="11" pattern="[0-9]" placeholder="*********09">
        <p class=" fs-12 pt-4 pb-2">ورود شما به معنای پذیرش شرایط  این سایت و قوانین حریم‌خصوصی است</p>
      </div>

      <button class="btn sign-in-button w-100 rounded-3 py-3 fw-bold fs-16" type="submit">
        ادامه
        <svg  xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path  d="M15 6l-6 6l6 6"></path></svg>

        </button>

    </div>
  </div>
</div>
