<div class="sign-in--container py-5">
  <div class="d-flex ">
    <img src="./assets/images/apple-store-max-logo-light-200x200.png.webp" alt="logo" class="pb-3 signin-logo--image">
  </div>
  <div class="row signin-section rounded-6">
    <div class="col-12 p-5">
      <div class="d-flex align-items-center justify-content-end" (click)="getBack()">
        <span class="text-muted sign-in-get--back fs-14">
          بازگشت
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none"
                                                                                            d="M0 0h24v24H0z"
                                                                                            fill="none"></path><path
            d="M15 6l-6 6l6 6"></path></svg>
        </span>
      </div>

      <h1 class="fw-bold fs-18">ورود | ثبت نام</h1>
      <h6 class="sign-in-title fs-14 pb-3">شماره موبایل خود را وارد کنید</h6>
      <div class="pt-2">
        <form #phoneNumberForm="ngForm" (ngSubmit)="onSubmit(phoneNumberForm)">
          <div>
            <label class="sign-in-label pb-2 fs-14">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"/>
                <path d="M11 4h2"/>
                <path d="M12 17v.01"/>
              </svg>
              موبایل:
            </label>
            <input class="sign-in-input rounded-3 w-100 px-3 py-3"
                   name="phoneNumber"
                   type="text"
                   maxlength="11"
                   minlength="11"
                   value="09"
                   placeholder="09*********"
                   [(ngModel)]="phoneNumber"
                   numbersOnly
                   #phoneNumberInput="ngModel"
                   required
                   pattern="^09[0-9]{9}$"
                   [disabled]="isPhoneNumberDisabled">

            <div class="mt-4" *ngIf="showCaptcha">
              <app-captcha
                #captchaComponent
                (onAnswer)="checkCaptcha($event)">
              </app-captcha>
              <span *ngIf="!isCaptchaValid && phoneNumberInput.touched"
                    class="pb-2 d-block text-center text-danger fs-12">
                لطفاً پاسخ CAPTCHA را وارد کنید
              </span>
            </div>

            <button class="btn sign-in-button w-100 rounded-3 py-3 fw-bold fs-16"
                    type="submit"
                    *ngIf="showContinueButton"
                    [disabled]="phoneNumberInput.invalid || !isCaptchaValid">
              ادامه

              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M15 6l-6 6l6 6"></path>
              </svg>
            </button>


          </div>
        </form>
        <form #verificationCodeForm="ngForm" (ngSubmit)="onSubmit(verificationCodeForm)">
          <div *ngIf="showCodeInput" class="mt-4">
            <label class="sign-in-label pb-2 fs-14">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile-check">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M11.5 21h-3.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v9.5"/>
                <path d="M11 4h2"/>
                <path d="M12 17v.01"/>
                <path d="M15 19l2 2l4 -4"/>
              </svg>
              کد تایید:
            </label>
            <input class="sign-in-input rounded-3 w-100 px-3 py-3"
                   name="verificationCode"
                   type="text"
                   maxlength="5"
                   minlength="5"
                   [(ngModel)]="verificationCode"
                   numbersOnly
                   (input)="verifyCode()"
                   #verificationCodeInput="ngModel"
                   required>
          </div>

          <button class="btn sign-in-button w-100 rounded-3 py-3 fw-bold fs-16 mt-5"
                  type="submit"
                  *ngIf="!showContinueButton"
                  [disabled]="!isVerificationCodeValid"
                  routerLink="/account"
                  (click)="onClickSubmit()">
            ورود
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 6l-6 6l6 6"></path>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
