
.signin-logo--image{
  width: 150px;
  margin: 0 auto;
}

.signin-section{
  background: #fff;
}


.sign-in--container {
  max-width: 100%;
  padding-left: 2.125rem;
  padding-right: 2.125rem;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .sign-in--container {
    max-width: 640px;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    margin: 0 auto;
  }
}

.sign-in-title{
  border-bottom: 1px solid #e0e0e2;
}


.sign-in-input{
  border: 1px solid #e0e0e2;
  background: #F2F2F2;
  text-align: left;
}


.sign-in-label{
  text-align: right;
  display: block;
}

.sign-in-get--back{
  transition: all .5s;
}

.sign-in-get--back:hover{
color: #DF3C3C !important;
  cursor: pointer;
}

.sign-in-button{
  background-color: #DF3C3C;
  color: #fff;
  transition: all .5s;
}

.sign-in-button:hover{
transform: scale(1.1);
}
