
#theme-switcher {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e2;
}


.dark-mode #theme-switcher, .dark-mode .card-navbar--icon {
  transition: all .5s;
  border: 1px solid var(--text-color);
}

#theme-switcher svg {
  transition: all .5s;
  fill: var(--bold-text-color);
}


.dark-mode .nav-link {
  transition: all .5s;
  color: var(--bold-text-color);
}


.dark-mode #navbar-expand-light {
  transition: all .5s;
  background: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(255, 255, 255, 0.1), inset 0 0 60px 30px rgb(54 54 54);

}













