<section class="container">
  <div class="bg-white rounded-6 p-5">
    <div class="d-flex justify-content-between align-items-start pb-3">
      <div>
        <span class="address-title--text fw-bold fs-18">آدرس ها</span>
      </div>
      <div>

      <span class="add-address--text cursor-pointer" (click)="addAddress()">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
        افزودن آدرس جدید
      </span>

      </div>
    </div>


    <div class="my-3 user-address--section rounded-3 p-3">
        <div class="d-flex justify-content-between align-items-start py-1">
          <div>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>
            <span class="px-3">تهران - تهران پارس - فلکه سوم - کوچه چهارم - پلاک ۱۰</span>
          </div>
          <div class="cursor-pointer" (click)="manageAddress()"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-dots-vertical"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg></div>
        </div>
      <div class="d-flex gap-2 py-1 ps-4 ms-3 text-muted">
        <span>کد پستی:</span>
        <span>1234567891</span>
      </div>
      <div class="d-flex gap-2 py-1 ps-4 ms-3 text-muted">
        <span>گیرنده:</span>
        <div class="d-flex">
          <span class="pe-2">علی رضا اسدی</span>
          |
          <span  class="ps-2">09129068863</span>

        </div>
      </div>




    </div>
    <div class="my-3 user-address--section rounded-3 p-3">
        <div class="d-flex justify-content-between align-items-start py-1">
          <div>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>
            <span class="px-3">تهران - تهران پارس - فلکه سوم - کوچه چهارم - پلاک ۱۰</span>
          </div>
          <div class="cursor-pointer" (click)="manageAddress()"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-dots-vertical"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg></div>
        </div>
      <div class="d-flex gap-2 py-1 ps-4 ms-3 text-muted">
        <span>کد پستی:</span>
        <span>1234567891</span>
      </div>
      <div class="d-flex gap-2 py-1 ps-4 ms-3 text-muted">
        <span>گیرنده:</span>
        <div class="d-flex">
          <span class="pe-2">علی رضا اسدی</span>
          |
          <span  class="ps-2">09129068863</span>

        </div>
      </div>



    </div>
  </div>
</section>
