.main-section--articles{
background-color: #fff;
  transition: all 0.5s;
}

.aside-section--articles{
  background-color: #fff;
  transition: all 0.5s;
  position: sticky;
  top: 6.2rem;
  height: max-content;

}
