<div class="container py-5">

  <section class="py-5">
    <div>
      <h1 class="fw-bold fs-24">تماس با ما</h1>
    </div>

  </section>

  <section class="contact-us--section d-flex justify-content-between p-5 rounded-6">
    <div>
      <app-map></app-map>
    </div>

    <div>
      <h3>دسترسی آسان، همیشگی و همگانی به دانش آکادمیک و تخصصی

      </h3>

      <div [formGroup]="form">
        <form action="javascript:void(0)" (submit)="send()">
          <div class="d-flex flex-row-reverse gap-2 align-items-center py-2">
            <label for="name">نام:</label>
            <input formControlName="form_name" type="text" name="name" id="name" placeholder="نام شما">
          </div>

          <div class="d-flex flex-row-reverse gap-2 align-items-center py-2">
            <label for="email">آدرس ایمیل</label>
            <input formControlName="form_email" type="email" name="email" id="email" placeholder="ایمیل خود را وارد کنید">
          </div>

          <div class="d-flex flex-row-reverse gap-2 align-items-center py-2">
            <label for="subject">موضوع:</label>
            <input formControlName="form_subject" type="text" name="subject" id="subject"
                   placeholder="موضوع ....">
          </div>

          <div class="d-flex flex-row-reverse gap-2 align-items-center py-2">
            <label for="message">پیام:</label>
            <input formControlName="form_message" type="text" name="message" id="message"
                   placeholder="پیغام خود را بنویسید...">
          </div>

          <div>
            <button type="submit" class="btn btn-danger">ارسال</button>
          </div>
        </form>
      </div>
    </div>


  </section>

  <div class="mt-5">

  </div>
</div>


