.contact-us--section{
  background-color: #fff;
  transition: all 0.5s;
}

.form-control{
  background-color: #F2F2F2;
  border: 1px solid #e0e0e2 !important;
  border-radius: 12px !important;
  padding: 10px !important;
}

.form-outline .form-control{
  border:0 !important;
}


.rtl-form {
  direction: rtl;
  text-align: right;

  input, textarea {
    text-align: right;
  }

  label {
    right: 0 !important;
    left: auto !important;
  }

  .form-outline {
    direction: rtl;
  }
}


.rtl-form input.form-control,
.rtl-form textarea.form-control {
  border: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent;
}

.rtl-form .form-outline .form-control {
  border-bottom: none !important;
  box-shadow: none !important;
}
