<div class="container pt-2 pb-5">
  <section class="contact-us--section d-flex justify-content-between p-5 rounded-6">


    <div>
      <h1 class="fw-bold fs-24">تماس با ما</h1>

      <h3 class="fw-bold  fs-18 text-muted">
        با ما در ارتباط باشید
      </h3>

      <div [formGroup]="form" class="rtl-form">
        <form action="javascript:void(0)" (submit)="send()">
          <div class="  py-2">

            <mdb-form-control>
              <input mdbInput formControlName="form_name" type="text" name="name" id="name" placeholder="نام شما"
                     required class="form-control"/>
              <label mdbLabel class="form-label" for="name">نام</label>
            </mdb-form-control>
          </div>

          <div class="  py-2">

            <mdb-form-control>
              <input mdbInput formControlName="form_email" type="email" name="email" id="email"
                     placeholder="ایمیل خود را وارد کنید" class="form-control" required/>
              <label mdbLabel class="form-label" for="email">آدرس ایمیل</label>
            </mdb-form-control>

          </div>

          <div class="  py-2">
            <mdb-form-control>
              <input mdbInput formControlName="form_subject" type="text" name="subject" id="subject"
                     class="form-control"
                     placeholder="موضوع ...." required/>
              <label mdbLabel class="form-label" for="subject">موضوع:</label>
            </mdb-form-control>
          </div>

          <div class="  py-2">
            <mdb-form-control>

              <textarea id="message" name="message" rows="4" cols="50" type="text" formControlName="form_message"
                        class="form-control" placeholder="پیغام خود را بنویسید..." required>

</textarea>

              <label mdbLabel class="form-label" for="message">پیام:</label>
            </mdb-form-control>


          </div>

          <div>
            <button type="submit" class="btn btn-danger">ارسال</button>
          </div>
        </form>
      </div>
    </div>
    <div>
      <app-map></app-map>
    </div>

  </section>

  <div class="mt-5">

  </div>
</div>


