<div class="row py-5 border border-2 rounded-5">
  <h6 class="text-center fs-22 fw-bold title-category--brands">خرید بر اساس برند</h6>
  <a href="#" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/apple-logo.png" alt="logo"
         class="w-50  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center mt-n2">اپل</h3>
  </a>

  <a href="#" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/acer-logo.png" alt="logo"
         class="w-50  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center mt-n2">ایسر</h3>

  </a>

  <a href="#" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/asus-logo.png" alt="logo"
         class="w-50  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center mt-n2">ایسوس</h3>

  </a>

  <a href="#" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/hp-logo.png" alt="logo"
         class="w-50  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center mt-n2">اچ چی</h3>

  </a>

  <a href="#" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/lenovo-logo.png" alt="logo"
         class="w-50  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center mt-n2">لنوو</h3>

  </a>

  <a href="#" class="col-4 col-md-2 col-lg-2 logo-category-brands">
    <img src="../../../assets/images/msi-logo.png" alt="logo"
         class="w-50  d-flex m-auto homepage-category--logo">
    <h3 class="fw-bold fs-18 text-dark text-center ">ام اس آی</h3>

  </a>
</div>
