<div class="container py-5">

  <section class="py-5">
    <div>
      <h1 class="fw-bold fs-24">درباره ما</h1>
    </div>
  </section>

  <section class="about-us--section d-flex justify-content-between p-5 rounded-6">
    <div>
      <img class="px-2" src="./assets/images/main-(2)-1.webp" alt="about-us">
      <img src="./assets/images/main-1.webp" alt="about-us">
    </div>

    <div>
      <h3>دسترسی آسان، همیشگی و همگانی به دانش آکادمیک و تخصصی

      </h3>
      <p>sadas</p>
    </div>

  </section>
</div>


