<div class="container py-5 ">
  <div class="d-block d-md-flex gap-3">
    <div class="col-12 col-md-3 rounded-6 p-3 cart-aside--section">left</div>
    <!--    right-->
    <div class="col-12 col-md-9 rounded-6 p-3 cart--section">
      <div class="d-flex justify-content-end align-items-center flex-row-reverse">
        <!--      inner  right-->
        <div class="d-flex justify-content-end align-items-center">
          <div><img class="inner-product-main-image"
                    src="assets/images/products/height=182,width=182 (1).avif"
                    alt="product"></div>
          <div>
            <div class="m-2 card-navbar--icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="icon icon-tabler icons-tabler-outline icon-tabler-zoom-scan">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 8v-2a2 2 0 0 1 2 -2h2"/>
                <path d="M4 16v2a2 2 0 0 0 2 2h2"/>
                <path d="M16 4h2a2 2 0 0 1 2 2v2"/>
                <path d="M16 20h2a2 2 0 0 0 2 -2v-2"/>
                <path d="M8 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"/>
                <path d="M16 16l-2.5 -2.5"/>
              </svg>
            </div>

            <div class="m-2 card-navbar--icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="icon icon-tabler icons-tabler-outline icon-tabler-heart">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"/>
              </svg>
            </div>
          </div>
        </div>
        <!--      inner  center-->

        <div>
          <div class="my-2 inner-product-main--title pb-3">
            <h1 class="fs-22 fw-bold">
              لپ تاپ 13.6 اینچی اپل مدل MacBook Air MC6T4 2025 M4-16GB RAM-256GB SSD
            </h1>
          </div>

          <div class="">
            <div class="inner-product-property--info ">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="icon icon-tabler icons-tabler-outline icon-tabler-palette">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path
                  d="M12 21a9 9 0 0 1 0 -18c4.97 0 9 3.582 9 8c0 1.06 -.474 2.078 -1.318 2.828c-.844 .75 -1.989 1.172 -3.182 1.172h-2.5a2 2 0 0 0 -1 3.75a1.3 1.3 0 0 1 -1 2.25"/>
                <path d="M8.5 10.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                <path d="M12.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                <path d="M16.5 10.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
              </svg>
              <span class="fs-14 d-block text-secondary px-1"> رنگ:</span>
              <span class="fs-16 d-block">خاکستری</span>

              <div class="d-flex flex-wrap align-items-center py-3 d-block" >
                <label class="inner-product-selector__item mx-2 py-1 px-2 rounded-3 d-flex align-items-center">
                  <input type="radio" name="product_attribute" value="" class="d-none">
                  <span class="inner-product-selector--color"></span>
                  <span class="inner-product-selector--text fs-12">آبی </span>
                  <span class="inner-product-selector--active_action"></span>
                </label>


              </div>


            </div>

            <div>

              <ul>
                <li class="pb-2">
                  <span class="fs-14 text-secondary">سری لپتاپ :</span>
                  <span class="fs-16 "> Macbook Air</span>
                </li>
                <li class="pb-2">
                  <span class="fs-14 text-secondary">سیستم عامل :</span>
                  <span class="fs-16 "> MacOS</span>
                </li>
                <li class="pb-2">
                  <span class="fs-14 text-secondary">نوع کاربری :</span>
                  <span class="fs-16"> کاربری مالتی‌مدیا مخصوص طراحی</span>
                </li>
                <li class="pb-2">
                  <span class="fs-14 text-secondary">ابعاد :</span>
                  <span class="fs-16 "> ۱۱.۳×۲۱۵×۳۰۴.۱ میلی‌‌متر</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

      <!--      inner  left-->
      <div class=" py-2">
        <div class="my-3 p-3 rounded-6  inner-product--inner-div">
          <div class="d-flex justify-content-between flex-row-reverse gap-2 align-items-center">
            <div class="d-flex flex-row-reverse align-items-center"><span
              class="fs-28 fw-bold px-1">43,500,000</span>
              <span class="fs-16 ">تومان</span>
            </div>
          </div>
          <div class="d-flex justify-content-between flex-row-reverse gap-2 pt-1">
            <div class="d-flex justify-content-between align-items-center inner-product-cart-item--value px-3">
              <span class="fw-bold">-</span>
              <input class="inner-product-cart-item--input" type="number" value="1" min="1" max="4" step="1">
              <span class="fw-bold">+</span>
            </div>

          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</div>
