<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top " id="navbar-expand-light">
  <!-- Container wrapper -->
  <div class="container-fluid">


    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse "
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
      >

      <!-- Search form -->
      <app-search></app-search>
      <!-- Menu links -->



      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">صفحه اصلی</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping">فروشگاه</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">تماس با ما</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">درباره ما</a>
        </li>
      </ul>


    </div>

    <a href="#" class="navbar-brand">
      <img src="../../../assets/images/newlogoweb-2.png" alt="logo" class="p-2 navbar-logo">
    </a>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->


<!--scroll to top-->
@if (showingScrollToTop) {
  <div (click)="scrollToTop()" class="button-scroll-to-top p-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="#fff"
      stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-up ">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M6 15l6 -6l6 6"/>
    </svg>
  </div>
}
