<div class="captcha-container d-flex justify-content-center gap-3 align-items-center flex-row-reverse">
  <span class="captcha-challenge fs-20">
   = {{ challenge.num1 }} {{ challenge.operation }} {{ challenge.num2 }}
  </span>
  <input
    type="text"
    [(ngModel)]="userAnswer"
    numbersOnly
    (input)="checkAnswer()"
    class="captcha-input rounded-3 p-2"
  >

  <a class="captcha-refresh--icon" (click)="reset()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="icon icon-tabler icons-tabler-outline icon-tabler-refresh">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"/>
      <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"/>
    </svg>
  </a>

</div>
<span *ngIf="showResult " class="captcha-result text-center d-block pb-3 fs-12"
      [ngStyle]="{color: isCorrect ? '#149122FF' : '#a50000'}">
  {{
    isCorrect
      ? "✓ صحیح است"
      : "✗ اشتباه است"
  }}
</span>
