/* breadcrumb.component.scss */
.breadcrumb {
  background: none;
  padding: 0.5rem;
  margin: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 0.5rem;
  }

  a {
    color: #666;
    text-decoration: none;

    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }

  .breadcrumb-separator {
    margin: 0 0.5rem;
    color: #999;
  }
}
