  <div class="container pb-5">
    <h1 class="fw-bold text-center fs-18 pb-3">لیست علاقه مندی ها
      ({{products.length}})
    </h1>

    <div class="text-center py-5" *ngIf="products.length === 0">
      <p class="text-muted">
        محصول مورد علاقه‌ای یافت نشد
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-heart-broken"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /><path d="M12 6l-2 4l4 3l-2 4v3" /></svg>        </p>
    </div>

    <app-product-list
      [products]="products"
      [showAllProducts]="false"
      (toggleLikeEvent)="toggleLike($event)"
    ></app-product-list>
  </div>
