.card-product {
  transition: 0.4s all;
}

.card-product:hover {
  transition: 0.4s all;
  transform: scale(1.05);
  cursor: pointer;
}


.add-to-card-btn {
  border-radius: 0 0 8px 8px;
  border-color: #CC2625;
  color: #CC2625;
}

.add-to-card-btn:hover {
  background: #CC2625 !important;
  color: #fff !important;
  border-color: #CC2625;

}


.price-with-discount--text {
  color: #4a4a4a;
}

.price-with-discount--digit {
  font-size: larger;
  color: black;
}


.out-of-discount {
  filter: grayscale(1)
}


.card-img-top {
  width: 80%;
  margin: auto;
}


.move-to-page--button {
  background-color: #DF3C3C;
  color: white;
  transition: 0.4s all;
}


.move-to-page--button:hover {
  transform: scale(1.1);
  transition: 0.4s all;
}


.card-navbar--icon {
  background-color: transparent;
  border: 1px solid #e0e0e2;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  color: #505050;
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 12px;
  top: 12px;
  z-index: 2;
}


