.card-product {
  transition: 0.4s all;
}

.card-product:hover {
  transition: 0.4s all;
  transform: scale(1.05);
  cursor: pointer;
}


.add-to-card-btn {
  border-radius: 0 0 8px 8px;
  border-color: #CC2625;
  color: #CC2625;
}

.add-to-card-btn:hover {
  background: #CC2625 !important;
  color: #fff !important;
  border-color: #CC2625;

}


.price-with-discount--text {
  color: #4a4a4a;
}

.price-with-discount--digit {
  font-size: larger;
  color: black;
}





.card-img-top {
  width: 80%;
  margin: auto;
}








