
<div class="container py-5">
  <h1 class="fw-bold fs-24 text-center pb-2">فروشگاه - همه ی محصولات
    ({{products.length}})
  </h1>

  <div class="d-flex justify-content-between gap-2">
    <section class="main-section--shopping rounded-6 p-4  w-75">


      <app-product-list></app-product-list>








    </section>

    <section class="aside-section--shopping rounded-6 p-4 w-25">
      <div >
        <span class="fw-bold">دسته بندی</span>
      </div>

      <div >
        <span class="fw-bold">برند ها</span>
      </div>
      <div >
        <span class="fw-bold"> فیلتر ها</span>
      </div>
    </section>

  </div>
</div>


