<!--slider-->
<div class=" pb-5">
  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="../../../assets/images/e8a861ca4ab72600d5d3d00e579593fbea2752dd_1746617796.webp"
        class="d-block w-100 "
        alt="..."
      />
    </mdb-carousel-item>

    <mdb-carousel-item>
      <img
        src="../../../assets/images/4214486fe0821220d8d246cd59d90fee8051cbb8_1747056011.webp"
        class="d-block w-100 "
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../../assets/images/a35962cfed735b8e1a36a29bef6f0682570cb96e_1746623486.webp"
        class="d-block w-100 "
        alt="..."
      />
    </mdb-carousel-item>

  </mdb-carousel>
</div>


<div class="container">
  <!--categories-->
  <app-category></app-category>

  <!--products-->
  <app-product-list></app-product-list>


  <!--banners-->
  <div class="row py-5">
    <div class="col-12 col-md-6 py-2 py-md-0">
      <img src="../../../assets/images/banner1-1-min.jpg" alt="banner1-1-min" class="w-100 rounded-6">
    </div>

    <div class="col-12 col-md-6 py-2 py-md-0">
      <img src="../../../assets/images/banner2-1-min.jpg" alt="banner2-1-min.jpg" class="w-100 rounded-6">
    </div>


  </div>


  <!--  banner-->
  <div class="d-none d-md-block py-5">
    <img src="../../../assets/images/3.gif" class="w-100 rounded-6" alt="gif banner">
  </div>


  <!--    articles-->
  <app-article-list></app-article-list>


  <!--QA-->
  <app-question-answer></app-question-answer>


  <!--  banner-->
  <div class="d-none d-md-block py-5">
    <img src="../../../assets/images/karid-banner-min.png" class="w-100 rounded-6" alt="kharid-banner">
  </div>

</div>



