<!--slider-->
<div class=" pb-5">
  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="../../../assets/images/fc6bb930592641b6708f867ebbdfcb59fb5fd8da_1713338714.jpg"
        class="d-block w-100 rounded-3"
        alt="..."
      />


    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../../assets/images/62524e2f1d31fbfd0f68cc3e5928cba4faddd6d6_1703507126.jpg"
        class="d-block w-100 rounded-3"
        alt="..."
      />

    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../../assets/images/0ae885735eba15647b221c36ab0310d89f532a8b_1703507297.jpg"
        class="d-block w-100 rounded-3"
        alt="..."
      />

    </mdb-carousel-item>
  </mdb-carousel>
</div>


<div class="container">
  <!--categories-->
  <app-category></app-category>

  <!--products-->
  <app-product-list></app-product-list>


  <!--banners-->
  <div class="row py-5">
    <div class="col-12 col-md-6 py-2 py-md-0">
      <img src="../../../assets/images/banner1-1-min.jpg" alt="banner1-1-min" class="w-100 rounded-3">
    </div>

    <div class="col-12 col-md-6 py-2 py-md-0">
      <img src="../../../assets/images/banner2-1-min.jpg" alt="banner2-1-min.jpg" class="w-100 rounded-3">
    </div>


  </div>


  <!--  banner-->
  <div class="d-none d-md-block py-5">
    <img src="../../../assets/images/3.gif" class="w-100 rounded-3" alt="gif banner">
  </div>


  <!--    articles-->
<app-article></app-article>


  <!--QA-->
<app-question-answer></app-question-answer>



  <!--  banner-->
  <div class="d-none d-md-block py-5">
    <img src="../../../assets/images/karid-banner-min.png" class="w-100 rounded-3" alt="kharid-banner">
  </div>

</div>



