<div class="py-5">
  <h6 class="text-center fw-bold fs-22">سوالات متداول</h6>
  <div class="d-block d-md-flex align-items-center ">
    <div class="w-100">
      <mdb-accordion>
        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>۱. چگونه می‌توانم یک محصول اپل را از فروشگاه شما خریداری کنم؟
          </ng-template>
          <ng-template mdbAccordionItemBody >
            <p>
              برای خرید محصولات اپل، کافی‌ست وارد صفحه محصول مورد نظر شوید، ویژگی‌ها و مشخصات آن را بررسی کرده و روی گزینه «افزودن به سبد خرید» کلیک کنید. سپس مراحل پرداخت را تکمیل کرده و سفارش خود را ثبت نمایید.
            </p>

          </ng-template>
        </mdb-accordion-item>

        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>۲. آیا محصولات اپل موجود در فروشگاه شما اصل و دارای گارانتی هستند؟
          </ng-template>
          <ng-template mdbAccordionItemBody>
            <p>
              بله، تمامی محصولات ارائه‌شده در فروشگاه ما اصل بوده و دارای گارانتی رسمی و معتبر از نمایندگی‌های مجاز اپل در ایران می‌باشند.
            </p>

          </ng-template>
        </mdb-accordion-item>

        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>۳. چقدر طول می‌کشد تا سفارش من ارسال شود؟
          </ng-template>
          <ng-template mdbAccordionItemBody>
            <p>
              سفارش‌های ثبت‌شده در روزهای کاری معمولاً ظرف ۲۴ تا ۴۸ ساعت پردازش و ارسال می‌شوند. زمان تحویل به محل سکونت شما بستگی دارد، اما معمولاً بین ۲ تا ۵ روز کاری خواهد بود.
            </p>

          </ng-template>
        </mdb-accordion-item>

        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>۴. آیا امکان پرداخت در محل وجود دارد؟
          </ng-template>
          <ng-template mdbAccordionItemBody>
            <p>
              در حال حاضر امکان پرداخت در محل فقط برای سفارش‌هایی که در تهران ثبت می‌شوند فراهم است. برای سایر شهرها، پرداخت تنها از طریق درگاه اینترنتی انجام می‌گیرد.
            </p>

          </ng-template>
        </mdb-accordion-item>

        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>۵. اگر محصول خریداری‌شده دچار مشکل بود، چه کاری باید انجام دهم؟
          </ng-template>
          <ng-template mdbAccordionItemBody>
            <p>
              در صورت وجود هرگونه مشکل فنی یا ایراد در محصول، تا ۷ روز پس از تحویل می‌توانید با پشتیبانی تماس گرفته و طبق شرایط گارانتی و خدمات پس از فروش اقدام به تعویض یا مرجوع کردن کالا نمایید.
            </p>

          </ng-template>
        </mdb-accordion-item>
      </mdb-accordion>

    </div>


    <div class="w-100" dir="ltr">
      <img src="../../../assets/images/faq-home.png" class="w-75 " alt="faq">
    </div>



  </div>
</div>



