.card-article:hover{
  transform: scale(1.05);
  transition: all 0.4s;
  cursor: pointer;
}

.card-article{
  transition: all 0.4s;
}


.move-to-page--button{
  background-color: #DF3C3C;
  color: white;
  transition: 0.4s all;
}


.move-to-page--button:hover{
  transform: scale(1.1);
  transition: 0.4s all;
}

.category-tag {
  font-size: 0.8rem;
  z-index: 1;
  font-family: "Yekan Bakh", sans-serif;
}



