/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "leaflet/dist/leaflet.css";
@import 'mdb-ui-kit/css/mdb.rtl.min.css';
//@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
@import 'swiper/swiper-bundle.min.css';
@import 'ngx-lightbox/lightbox.css';



//persian font
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-Thin.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-Thin.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-Light.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-Light.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-Regular.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-SemiBold.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-Bold.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-ExtraBold.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-Black.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-Black.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 950;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-ExtraBlack.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-ExtraBlack.woff2') format('woff2');
}




//English Regular font
@font-face {font-family: "Montserrat-Regular";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot"); /* IE9*/
  src: url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2"), /* chrome、firefox */
  url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), /* chrome、firefox */
  url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular") format("svg"); /* iOS 4.1- */
}


//English Bold font
@font-face {font-family: "Montserrat-Bold";
  src: url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.eot"); /* IE9*/
  src: url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.woff2") format("woff2"), /* chrome、firefox */
  url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.woff") format("woff"), /* chrome、firefox */
  url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.svg#Montserrat-Regular") format("svg"); /* iOS 4.1- */
}




//set persian font
h1,h2,h3,h4,h5,h6,p,span,li,ul,ol,a,text,button,input,del,small,label{
  font-family: "Yekan Bakh", sans-serif !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  color: inherit;
  transition: all .5s;
}

a:hover{
  color: #DF3C3C;
}


//set english font
p:lang(en_US), del:lang(en_US), span:lang(en_US), li:lang(en_US), ul:lang(en_US), h1:lang(en_US), h2:lang(en_US), h3:lang(en_US), h4:lang(en_US), h5:lang(en_US), h6:lang(en_US) {
  font-family: "Montserrat-Regular", sans-serif !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
}


.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: 14px;
}

.fs-16{
  font-size: 16px;
}

.fs-18{
  font-size: 18px;
}

.fs-20{
  font-size: 20px;
}

.fs-22{
  font-size: 22px;
}

.fs-24{
  font-size: 24px;
}

.fs-26{
  font-size: 26px;
}

.fs-28{
  font-size: 28px;
}

.fs-30{
  font-size: 30px;
}

.fs-32{
  font-size: 32px;
}

.fs-34{
  font-size: 34px;
}

.fs-36{
  font-size: 36px;
}

.fs-38{
  font-size: 38px;
}


.fs-40{
  font-size: 40px;
}


.text-justify{
  text-align: justify;
  direction: rtl;
}


//scroll-bar styles
//width
::-webkit-scrollbar {
  Scrollbar-width: thin;
}

 //Track
::-webkit-scrollbar-track {
  background: #E7E7E7 !important;
}

//Handle
::-webkit-scrollbar-thumb  {
  background: #aaaaaa !important;
  border-radius:4px !important;
}

 //Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #DF3C3C !important;
}

 //Text Selection Color Code for Firefox
::-moz-selection {
  color: #fff;
  background: #626262;
}

//Text Selection Color
::selection {
  color: #fff;
  background: #626262;
}


ol, ul , li {
  list-style: none;
  padding: 0;
}

.text-right  {
  text-align: right;
}

.rounded-6{
  border-radius: 20px !important;
}



.inner-product-selector--color--red{
  background-color: #DF3C3C;
  width: 15px;
  height:15px;
  border: 1px solid #e0e0e2;
}

.inner-product-selector--color--blue{
  background-color: #102698;
  width: 15px;
  height:15px;
  border: 1px solid #e0e0e2;
}

.inner-product-selector--color--silver{
  background-color: #d5d5d5;
  width: 15px;
  height:15px;
  border: 1px solid #e0e0e2;
}

.inner-product-selector--color--white{
  background-color: #ffffff;
  width: 15px;
  height:15px;
  border: 1px solid #e0e0e2;
}

.inner-product-selector--color--black{
  background-color: #000000;
  width: 15px;
  height:15px;
  border: 1px solid #e0e0e2;
}


.inner-product-selector--color--gold{
  background-color: #dfcf0f;
  width: 15px;
  height:15px;
  border: 1px solid #e0e0e2;
}


.product-discount-price--badge{
  background-color: #DF3C3C;
  color: white;
}


.move-to-page--button {
  background-color: #DF3C3C;
  color: white;
  transition: 0.4s all;
}


.move-to-page--button:hover{
  transform: scale(1.1);
  transition: 0.4s all;
}



.swiper-button-prev , .swiper-button-next{
  width: 33px;
  height: 33px;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.swiper-button-prev:hover  , .swiper-button-next:hover{
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
}

.swiper-button-prev::after , .swiper-button-next::after{
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}


.card-carousel--products {
  height: 440px !important;
  width: 100%;
  transition: all .4s;
}
.card-carousel--products:hover {
  transform: scale(.95);
  transition: all .4s;
}

.cursor-pointer{
  cursor: pointer;
}



.out-of-discount {
  filter: grayscale(1)
}


.card-navbar--icon {
  background-color: transparent;
  border: 1px solid #e0e0e2;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  color: #505050;
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 12px;
  top: 12px;
  z-index: 2 !important;
}



.inner-product-cart-item--input{
  display: block !important;
  border: 0;
  background: transparent;
  font-size: 17px;
  color: #000;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}


.inner-product-cart-item--value{
  border: 1px solid #e0e0e2;
  border-radius: 20px;
}
/* Dark Mode Styles */
.dark-mode {
  transition: all .5s;
  --background-color: #353535;
  --foreground-color: #202124;
  --primary-color: #2f3e66;
  --secondary-color: #0071ff;
  --text-color: #ffffff;
  --bold-text-color: #ffffff;
  background-color: #353535;
  color: #ffffff;
}


/* Sunny (Light Mode) Styles */
.sunny {
  transition: all .5s;
  --background-color: #F2F2F2;
  --foreground-color: #fff;
  --primary-color: #3a435d;
  --secondary-color: #0071ff;
  --text-color: #111528;
  --bold-text-color: #000000;
  background-color: #F2F2F2;
  color: #111528;
}

/* Default body styles to make sure colors are applied globally */
body {
  transition: all .5s;
  background-color: var(--background-color);
  color: var(--text-color);
}


#theme-switcher {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e2;
}


.dark-mode #theme-switcher, .dark-mode .card-navbar--icon {
  transition: all .5s;
  border: 1px solid var(--text-color);
}

#theme-switcher svg {
  transition: all .5s;
  fill: var(--bold-text-color);
}

.dark-mode .signin-button-navbar {
  transition: all .5s;
  color: var(--bold-text-color);
}

.search-icon svg, .card-navbar--icon svg {
  transition: all .5s;
  stroke: var(--bold-text-color);
}


.dark-mode .nav-link {
  transition: all .5s;
  color: var(--bold-text-color);
}


.dark-mode #navbar-expand-light {
  transition: all .5s;
  background: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(255, 255, 255, 0.1), inset 0 0 60px 30px rgb(54 54 54);

}


.dark-mode .text-body, .dark-mode .homepage-category--title, .dark-mode .price-with-discount--digit , .dark-mode .card-title , .dark-mode .card-text , .dark-mode .text-muted{
  transition: all .5s;
  color: var(--bold-text-color) !important;
}

.dark-mode .card-article, .dark-mode .card {
  transition: all .5s;
  background-color: var(--foreground-color);
}

.dark-mode .price-with-discount--text, .dark-mode .inner-product-cart-item--input {
  color: var(--text-color) !important;
}


.dark-mode .card-footer {
  border-top: var(--mdb-card-footer-border-width) solid var(--background-color) !important;
}


.dark-mode .accordion-item, .dark-mode .accordion-button {
  color: var(--text-color) !important;
  background-color: var(--foreground-color) !important;
  border: var(--mdb-accordion-border-width) solid var(--background-color) !important;
}


.dark-mode .copyright-footer-section , .dark-mode .about-us--section, .dark-mode .contact-us--section, .dark-mode .aside-section--articles, .dark-mode .aside-section--shopping, .dark-mode #inner-product-main--section, .dark-mode .signin-section, .dark-mode .article-detail, .dark-mode .cart--section, .dark-mode .cart-aside--section {
  background-color: var(--foreground-color) !important;
  transition: all 0.5s;
}


.card-navbar--icon svg:hover, .search-icon svg:hover {
  stroke: red !important;
}

#theme-switcher svg:hover {
  fill: red !important;
}

.is-like {
  fill: red !important;
  stroke: red !important;
}


.dark-mode .sign-in-input, .dark-mode .captcha-input {
  background-color: var(--background-color) !important;
}


.dark-mode .breadcrumb a {

  color: var(--text-color) !important;
}



/* RTL Carousel Controls Fix */
[dir="rtl"] .carousel-control-prev {
  right: 0;
  left: auto;
}

[dir="rtl"] .carousel-control-next {
  left: 0;
  right: auto;
}

/* Flip the icons so they point correctly */
[dir="rtl"] .carousel-control-prev-icon {
  transform: rotate(180deg);
}

[dir="rtl"] .carousel-control-next-icon {
  transform: rotate(180deg);
}


textarea#message {
  font-family: 'Yekan Bakh', serif;
}


.footer-social--icons{
  transition: transform 0.4s;
}

.footer-social--icons:hover{
  transform: scale(1.3);
  transition: all 0.4s;
  color: red;
}


.product-category--title{
  width: max-content;
}


.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  display: none;
  line-height: 1em;
}


img#image {
  padding: 10px !important;
}


.lightbox{
  top: 25% !important;
  position: fixed !important;
}


.lb-outerContainer{
  border-radius: 20px !important;
}

