/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';



//persian font
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-Thin.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-Thin.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-Light.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-Light.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-Regular.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-SemiBold.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-Bold.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-ExtraBold.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-Black.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-Black.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 950;
  src: url('./assets/fonts/Yekan Bakh/woff/YekanBakhFaNum-ExtraBlack.woff') format('woff'),
  url('./assets/fonts/Yekan Bakh/woff2/YekanBakhFaNum-ExtraBlack.woff2') format('woff2');
}




//English Regular font
@font-face {font-family: "Montserrat-Regular";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot"); /* IE9*/
  src: url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2"), /* chrome、firefox */
  url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), /* chrome、firefox */
  url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular") format("svg"); /* iOS 4.1- */
}


//English Bold font
@font-face {font-family: "Montserrat-Bold";
  src: url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.eot"); /* IE9*/
  src: url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.woff2") format("woff2"), /* chrome、firefox */
  url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.woff") format("woff"), /* chrome、firefox */
  url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./assets/fonts/Montserrat/Montserrat Bold/Montserrat Bold.svg#Montserrat-Regular") format("svg"); /* iOS 4.1- */
}




//set persian font
h1,h2,h3,h4,h5,h6,p,span,li,ul,ol,a,text,button,input,del,small{
  font-family: "Yekan Bakh", sans-serif !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  color: inherit;
  transition: all .5s;
}

a:hover{
  color: #DF3C3C;
}


//set english font
p:lang(en_US), del:lang(en_US), span:lang(en_US), li:lang(en_US), ul:lang(en_US), h1:lang(en_US), h2:lang(en_US), h3:lang(en_US), h4:lang(en_US), h5:lang(en_US), h6:lang(en_US) {
  font-family: "Montserrat-Regular", sans-serif !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
}


.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: 14px;
}

.fs-16{
  font-size: 16px;
}

.fs-18{
  font-size: 18px;
}

.fs-20{
  font-size: 20px;
}

.fs-22{
  font-size: 22px;
}

.fs-24{
  font-size: 24px;
}

.fs-26{
  font-size: 26px;
}

.fs-28{
  font-size: 28px;
}

.fs-30{
  font-size: 30px;
}

.fs-32{
  font-size: 32px;
}

.fs-34{
  font-size: 34px;
}

.fs-36{
  font-size: 36px;
}

.fs-38{
  font-size: 38px;
}


.fs-40{
  font-size: 40px;
}


.text-justify{
  text-align: justify;
  direction: rtl;
}


//scroll-bar styles
//width
::-webkit-scrollbar {
  Scrollbar-width: thin;
}

 //Track
::-webkit-scrollbar-track {
  background: #E7E7E7 !important;
}

//Handle
::-webkit-scrollbar-thumb  {
  background: #aaaaaa !important;
  border-radius:4px !important;
}

 //Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #DF3C3C !important;
}

 //Text Selection Color Code for Firefox
::-moz-selection {
  color: #fff;
  background: #626262;
}

//Text Selection Color
::selection {
  color: #fff;
  background: #626262;
}


ol, ul , li {
  list-style: none;
  padding: 0;
}

.text-right {
  text-align: right;
}

.rounded-6{
  border-radius: 20px !important;
}
