<div class="container pb-5">
  <section class="inner-product-top--breadcrumb rounded-6 p-3 my-3 "><span class="text-secondary fs-14">خانه / کامپیوتر و لپ تاپ / لپ تاپ 13.6 اینچی اپل مدل MacBook Air MC6T4 2025 M4-16GB RAM-256GB SSD</span>
  </section>
  <section id="inner-product-main--section" class="rounded-6 my-3 py-4 px-2 row">
    <!--    left side-->
    <div class="col-12 col-md-8">
      <div class="d-flex justify-content-end align-items-center gap-5 mb-2">
        <div class="d-flex flex-row-reverse">
          <span class="fs-12">برند:</span>
          <h6 class="fs-14 fw-bold px-1 text-danger">اپل</h6>
        </div>
        <div class="d-flex flex-row-reverse">
          <span class="fs-12">دسته بندی:</span>
          <h6 class="fs-14 fw-bold px-1 text-danger">لپ تاپ</h6>
        </div>
      </div>

      <div class="my-2 inner-product-main--title pb-3">
        <h1 class="fs-22 fw-bold">
          لپ تاپ 13.6 اینچی اپل مدل MacBook Air MC6T4 2025 M4-16GB RAM-256GB SSD
        </h1>
      </div>

      <div class="row py-2">
        <div class="col-12 col-md-6 col-lg-5">
          <div class="my-3 p-3 rounded-6  inner-product--inner-div">
            <div class="d-flex flex-row-reverse gap-2">
              <span class="fs-14 text-secondary"> شناسه کالا:</span>
              <span class="fs-16 ">NZK400120</span>
            </div>
            <div class="d-flex flex-row-reverse gap-2 py-2">
              <span class="fs-14 text-secondary">زمان آماده سازی:</span>
              <span class="fs-16 ">آماده ارسال</span>
            </div>
          </div>

          <div class="my-3 p-3 rounded-6  inner-product--inner-div">
            <div class="d-flex justify-content-between flex-row-reverse gap-2 align-items-center">
              <div>
                <span class="fs-14 text-secondary">:قیمت </span>
              </div>
              <div class="d-flex flex-row-reverse align-items-center"><span class="fs-28 fw-bold px-1">43,500,000</span>
                <span class="fs-16 ">تومان</span>
              </div>
            </div>
            <div class="d-flex justify-content-between flex-row-reverse gap-2 pt-1">
              <div class="d-flex justify-content-between align-items-center inner-product-cart-item--value px-3">
                <span class="fw-bold">-</span>
                <input class="inner-product-cart-item--input" type="number" value="1" min="1" max="4" step="1">
                <span class="fw-bold">+</span>
              </div>
              <button class="btn inner-product-add-to-card--button fw-bold rounded-6 fs-14 ">افزودن به سبد خرید
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                  <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                  <path d="M17 17h-11v-14h-2"/>
                  <path d="M6 5l14 1l-1 7h-13"/>
                </svg>
              </button>
            </div>
          </div>



              <div class="my-3 p-3 rounded-6  inner-product--inner-div">
                <div class="gap-2 align-items-center">
                  <div class="text-center pt-1 pb-4 km-title position-relative">
                    <span class="fs-18 fw-bold text-center text-muted rounded-3 px-4 py-1 position-relative inner-product-out-of-stock--text">ناموجود</span>
                  </div>
                  <div class="text-center pb-4">
                <span class="fs-14 ">این کالا فعلا موجود نیست اما می‌توانید زنگوله را بزنید تا به محض موجود شدن، به شما خبر دهیم
                </span>
                  </div>
                </div>
                <div class="d-flex justify-content-between flex-row-reverse gap-2 pt-1">
                  <button class="btn inner-product-out-of-stock--button fw-bold rounded-6 fs-14 w-100 d-flex justify-content-between align-items-center">
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                           class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                        <path d="M17 17h-11v-14h-2"/>
                        <path d="M6 5l14 1l-1 7h-13"/>
                      </svg>
                    </div>
                    <div>
                      موجود شد خبرم کن
                    </div>
                  </button>
                </div>
              </div>






        </div>

        <div class="col-12 col-md-6 col-lg-7">
          <div class="inner-product-property--info">
            <span class="fs-14 text-secondary px-1"> رنگ:</span>
            <span class="fs-16 ">خاکستری</span>

            <div class="d-flex flex-wrap align-items-center py-3">
              <label class="inner-product-selector__item mx-2 py-1 px-2 rounded-3 d-flex align-items-center">
                <input type="radio" name="product_attribute" value="" class="d-none">
                <span class="inner-product-selector--color"></span>
                <span class="inner-product-selector--text fs-12">آبی </span>
                <span class="inner-product-selector--active_action"></span>
              </label>


              <label class="inner-product-selector__item mx-2 py-1 px-2 rounded-3 d-flex align-items-center">
                <input type="radio" name="product_attribute" value="" class="d-none">
                <span class="inner-product-selector--color"></span>
                <span class="inner-product-selector--text fs-12">نقره ای</span>
                <span class="inner-product-selector--active_action"></span>
              </label>

              <label class="inner-product-selector__item mx-2 py-1 px-2 rounded-3 d-flex align-items-center">
                <input type="radio" name="product_attribute" value="" class="d-none">
                <span class="inner-product-selector--color"></span>
                <span class="inner-product-selector--text fs-12">سفید</span>
                <span class="inner-product-selector--active_action"></span>
              </label>


              <label class="inner-product-selector__item mx-2 py-1 px-2 rounded-3 d-flex align-items-center">
                <input type="radio" name="product_attribute" value="" class="d-none">
                <span class="inner-product-selector--color"></span>
                <span class="inner-product-selector--text fs-12">مشکی</span>
                <span class="inner-product-selector--active_action"></span>
              </label>

              <label class="inner-product-selector__item mx-2 py-1 px-2 rounded-3 d-flex align-items-center">
                <input type="radio" name="product_attribute" value="" class="d-none">
                <span class="inner-product-selector--color"></span>
                <span class="inner-product-selector--text fs-12">قرمز</span>
                <span class="inner-product-selector--active_action"></span>
              </label>
            </div>


          </div>

          <div>
            <p class="fw-bold fs-16 text-right pt-3">مشخصات برجسته:</p>
            <ul>
              <li class="pb-2">
                <span class="fs-14 text-secondary">سری لپتاپ :</span>
                <span class="fs-16 "> Macbook Air</span>
              </li>
              <li class="pb-2">
                <span class="fs-14 text-secondary">سیستم عامل :</span>
                <span class="fs-16 "> MacOS</span>
              </li>
              <li class="pb-2">
                <span class="fs-14 text-secondary">نوع کاربری :</span>
                <span class="fs-16"> کاربری مالتی‌مدیا مخصوص طراحی</span>
              </li>
              <li class="pb-2">
                <span class="fs-14 text-secondary">ابعاد :</span>
                <span class="fs-16 "> ۱۱.۳×۲۱۵×۳۰۴.۱ میلی‌‌متر</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!--    right side-->
    <div class="col-12 col-md-4 p-2">
      <div class="d-flex justify-content-end align-items-center">
        <div><img class="inner-product-main-image"
                  src="assets/images/products/0033124_-136-macbook-air-mc6t4-2025-m4-16gb-ram-256gb-ssd.webp"
                  alt="product"></div>
        <div>
          <div class="m-2 card-navbar--icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
              <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
              <path d="M17 17h-11v-14h-2"/>
              <path d="M6 5l14 1l-1 7h-13"/>
            </svg>

          </div>

          <div class="m-2 card-navbar--icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-heart">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"/>
            </svg>
          </div>
        </div>

      </div>
      <div class="d-flex flex-nowrap justify-content-between align-items-start">
        <img class="rounded-6 p-2 mx-1 inner-product--gallery"
             src="assets/images/products/0033124_-136-macbook-air-mc6t4-2025-m4-16gb-ram-256gb-ssd.webp" alt="product">
        <img class="rounded-6 p-2 mx-1 inner-product--gallery"
             src="assets/images/products/0033125_-136-macbook-air-mc6t4-2025-m4-16gb-ram-256gb-ssd.webp" alt="product">
        <img class="rounded-6 p-2 mx-1 inner-product--gallery"
             src="assets/images/products/0033126_-136-macbook-air-mc6t4-2025-m4-16gb-ram-256gb-ssd.webp" alt="product">
        <img class="rounded-6 p-2 mx-1 inner-product--gallery"
             src="assets/images/products/0033127_-136-macbook-air-mc6t4-2025-m4-16gb-ram-256gb-ssd.webp" alt="product">
      </div>

    </div>
  </section>
</div>
